.resultCard {
  background-color: rgb(20, 18, 18);
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15%;
}

.resultCard h2 {
  margin-bottom: 20px;
}

.resultItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.resultButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #6c5ce7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resultButton:hover {
  background-color: #5a4db1;
}
